html {
    background-color: black;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    padding: 60px 50px;
    background-color: white;
}

.leftNav {
    display: inline;
    font-size: 1.1em;
    text-decoration: none;
}



/* div.me-auto.navbar-nav {
   
} */



form {
    display: inline;
}

.inactive {
    color: lightsalmon;
}

.border {
    border: 1px solid gray;
}

.homeContainer {
    margin: 0;
    padding: 40px;
}

.homePage {
    text-align: center;
    padding: 5px;
}

img {
    border-radius: 30px 30px;
}

.slideOne h2 {
    background-color: rgba(0, 0, 0, 0.4);
}

.slideTwo h2 {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Error Page CSS */
.errorPage {
    padding: 20px;
    text-align: center;
}

.errorPic {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.clockContainer {
    color: gold;
    align-items: center;
    padding-right: 40%;
}